/*

darker teal: #00a79e;
lighter teal: #6fcac4;

green: #3F9537;
yellow: #F8B525;
red: #D1232A;

*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Roboto', sans-serif;
  margin-bottom: 60px;
}

body > .container {
  margin-top: 30px;
}

body > .navbar {
  background: #00a79e;
  border: 0;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 2em;
  padding-left: 0;
}

.btn {
  border-radius: 0;
}

.no-border {
  border: 0;
}

.form-control {
  border-radius: 0;
}

.well {
  border-radius: 0;
}

.range-input span {
  margin-top: 6px;
}

.range-input .value {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer.normal {
  background-color: #3F9537;
}

footer.warning {
  background-color: #F8B525;
}

footer.danger {
  background-color: #D1232A;
}

footer .status {
  color: #fff;
  font-size: 2em;
  margin-top: 0.3em;
}

div.questionResult {
	border-top-color: #00A69C;
	border-top-style: solid;
	border-top-width: 3px;
	margin-top: 1em;
	padding-top: 10px; 
}

.questionResult:FIRST-CHILD {
	border-style: none;
	margin-top: -20px;
	padding-top:0px;
}

.questionCurrentResult {
	text-align: center;
}

.questionAverageResult {
	font-size: 100px;
	vertical-align: top;
	line-height: 100px;
}

.separator {
	color: #00A69C;	
	background-color: #00A69C;	
	border-color: #00A69C;
}

.comparisons .separator {
	color: #A6A8AB;	
	background-color: #A6A8AB;	
	border-color: #A6A8AB;
	margin: 5px;
}

.comparisons div {
	height: 50%;
	font-size: 30px;
  	text-align: center;
  	line-height: 50px;
  	border-radius: 5px;
}

.worse {
	background-color: #DC777F;
	color: white; 
}

.improved {
	background-color: #99BC86;
	color: white; 
}

span.changeValue {
	margin-left:0.25em;
	display: inline-block;
  	vertical-align: top;
  	font-size: 35px;
}

.questionShortText {
	margin-top: 0px;
	padding-left: 0.5em;
}