/*

teal:   #00a69c;

blue:   #1d6ab7;
gray:   #57585b;
red:    #c5212e;
green:  #58923a;
yellow: #eca20f;

*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Roboto', sans-serif;
  margin-bottom: 60px;
}

body > .container {
  margin-top: 30px;
}

body > .navbar {
  background: #00a69c;
  border: 0;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 2em;
  padding-left: 0;
  height: 58px;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.logo {
  width: auto;
  height: 30px;
}

.icon {
  width: auto;
  height: 30px;
}

.icon + .icon {
  margin-left: 0.4em;
}

.icon-btn-next {
  height: 48px;
  width: auto;
}

.btn {
  border-radius: 0;
}

.no-border {
  border: 0;
}

.form-control {
  border-radius: 0;
}

.well {
  border-radius: 0;
}

.range-input span {
  margin-top: 6px;
}

.range-input .value {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0;
}

.btn-primary {
  background: #1d6ab7;
}

footer {
  /*background-color: #1d6ab7;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer .status {
  color: #fff;
  font-size: 2em;
  margin-top: 2px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range] {
    -webkit-appearance: none;
  vertical-align: middle;
  /*width: 240px;*/
  height: 2px;
  background-color: #d2e1F1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #1d6ab7), color-stop(0.5, #d2e1F1))
}
input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #d2e1F1;
    width: 26px;
    height: 26px;
    border-radius: 13px;
}
