/*

teal:   #00a69c;

blue:   #1d6ab7;
gray:   #57585b;
red:    #c5212e;
green:  #58923a;
yellow: #eca20f;

*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Roboto', sans-serif;
  margin-bottom: 60px;
}

body > .container {
  margin-top: 30px;
}

body > .navbar {
  background: #00a69c;
  border: 0;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 2em;
  padding-left: 0;
  height: 58px;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 1em;
}

.logo {
  width: auto;
  height: 30px;
}

.icon {
  width: auto;
  height: 30px;
}

.icon + .icon {
  margin-left: 0.4em;
}

.icon-btn-next {
  height: 48px;
  width: auto;
}

.btn {
  border-radius: 0;
}

.no-border {
  border: 0;
}

.form-control {
  border-radius: 0;
}

.well {
  border-radius: 0;
}

.range-input span {
  margin-top: 30px;
}

.range-input .value {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0;
}


.margeiner {

}
.btn-primary {
  background: #1d6ab7;
}

.all-done {
  margin-top: 4em;
  margin-bottom: 2em;
}

footer {
  /*background-color: #1d6ab7;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer .status {
  color: #fff;
  font-size: 2em;
  margin-top: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range] {
  margin-top: 50px;
  padding:0;
  -webkit-appearance: none;
  vertical-align: middle;
  /*width: 240px;*/
  height: 2px;
  background-color: #d2e1F1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, #1d6ab7), color-stop(0.5, #d2e1F1))
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #d2e1F1;
  width: 26px;
  height: 26px;
  border-radius: 13px;
}



div.questionResult {
	border-top-color: #00A69C;
	border-top-style: solid;
	border-top-width: 3px;
	margin-top: 1em;
	padding-top: 10px;
}

.questionResult:FIRST-CHILD {

}

.questionResultsContainer{
  margin-top: -35px;
  padding-top:0px;
}

.questionResultsContainer div:FIRST-CHILD{
  /*border-style: none;
  margin-top: -20px;
  padding-top:0px;*/
}

.questionCurrentResult {
	text-align: center;
}

.questionAverageResult {
	font-size: 100px;
	vertical-align: top;
	line-height: 100px;
}

.separator {
	color: #00A69C;
	background-color: #00A69C;
	border-color: #00A69C;
}

.comparisons .separator {
	color: #A6A8AB;
	background-color: #A6A8AB;
	border-color: #A6A8AB;
	margin: 5px;
}

.comparisons div {
	height: 50%;
	font-size: 30px;
  	text-align: center;
  	line-height: 50px;
  	border-radius: 5px;
}

.worse {
	background-color: #DC777F;
	color: white;
}

.noChange {
	background-color: #A6A8AB;
	color: white;
}

.improved {
	background-color: #99BC86;
	color: white;
}

span.changeValue {
	margin-left:0.25em;
	display: inline-block;
  	vertical-align: top;
  	font-size: 35px;
}

.questionShortText {
	margin-top: 0px;
	padding-left: 0.5em;
}

div.treatmentText {
	display: inline-block;
	font-size: 1.2em;
	width:90%;
	padding-right: 0.5em;
}

textarea.treatmentText {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px
}

.addTreatment {
	margin-bottom: 1em;
}

.treatmentPeriod{
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.treatmentPeriod:FIRST-CHILD{
	margin-top: -20px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.addbutton {
	background-color: #58923A;
	color:white;
}


.removeTreatment {
	height: 24px;
	width: 24px;
	display: inline-block;
	background-image: url(../img/Icon_Red_Delete.svg);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position:center;
	float:right;
}


